@font-face {
  font-family: 'Montserrat-BoldItalic';
  src: url('Montserrat-BoldItalic.eot');
  src: url('Montserrat-BoldItalic.woff2') format('woff2'),
       url('Montserrat-BoldItalic.woff') format('woff'),
       url('Montserrat-BoldItalic.ttf') format('truetype'),
       url('Montserrat-BoldItalic.svg#Montserrat-BoldItalic') format('svg'),
       url('Montserrat-BoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

