@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url('Montserrat-ExtraBold.eot');
  src: url('Montserrat-ExtraBold.woff2') format('woff2'),
       url('Montserrat-ExtraBold.woff') format('woff'),
       url('Montserrat-ExtraBold.ttf') format('truetype'),
       url('Montserrat-ExtraBold.svg#Montserrat-ExtraBold') format('svg'),
       url('Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

