@font-face {
  font-family: 'Montserrat-ThinItalic';
  src: url('Montserrat-ThinItalic.eot');
  src: url('Montserrat-ThinItalic.woff2') format('woff2'),
       url('Montserrat-ThinItalic.woff') format('woff'),
       url('Montserrat-ThinItalic.ttf') format('truetype'),
       url('Montserrat-ThinItalic.svg#Montserrat-ThinItalic') format('svg'),
       url('Montserrat-ThinItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

