@font-face {
  font-family: 'Montserrat-Thin';
  src: url('Montserrat-Thin.eot');
  src: url('Montserrat-Thin.woff2') format('woff2'),
       url('Montserrat-Thin.woff') format('woff'),
       url('Montserrat-Thin.ttf') format('truetype'),
       url('Montserrat-Thin.svg#Montserrat-Thin') format('svg'),
       url('Montserrat-Thin.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

