@font-face {
  font-family: 'Montserrat-LightItalic';
  src: url('Montserrat-LightItalic.eot');
  src: url('Montserrat-LightItalic.woff2') format('woff2'),
       url('Montserrat-LightItalic.woff') format('woff'),
       url('Montserrat-LightItalic.ttf') format('truetype'),
       url('Montserrat-LightItalic.svg#Montserrat-LightItalic') format('svg'),
       url('Montserrat-LightItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

