@font-face {
  font-family: 'Montserrat-ExtraLightItalic';
  src: url('Montserrat-ExtraLightItalic.eot');
  src: url('Montserrat-ExtraLightItalic.woff2') format('woff2'),
       url('Montserrat-ExtraLightItalic.woff') format('woff'),
       url('Montserrat-ExtraLightItalic.ttf') format('truetype'),
       url('Montserrat-ExtraLightItalic.svg#Montserrat-ExtraLightItalic') format('svg'),
       url('Montserrat-ExtraLightItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

